@layer components {
  @media (min-width: 1104px) {
    .card {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-44.2deg);
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.07) 0%,
          /* trắng mờ ở trên */ rgba(255, 255, 255, 0) 24%
        );
        top: -65px;
        left: 200px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-44.2deg);
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.07) 0%,
          rgba(255, 255, 255, 0) 24%
        );
        top: -100px;
        left: 205px;
      }
    }
  }
}

.vertical {
  &::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 3px;
    background-color: #024caa;
    left: -10px;
  }
}