.cardBanner {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    transform: rotate(-44.2deg);
    background: linear-gradient(to top right, #597bbf00 0%, #597bbf27 90%);
    top: -255px;
    left: -220px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    transform: rotate(-44.2deg);
    background: linear-gradient(to top right, #597bbf00 0%, #597bbf53 95%);
    top: -357px;
    left: 1000px;
    z-index:0;
  }
}

.cardBanner2 {
  &::before {
    content: "";
    position: absolute;
    width: 1425px;
    height: 254px;
    transform: rotate(-44.2deg);
    background: linear-gradient(to top right, #597bbf00 0%, #597bbf13 95%);
    top: -240px;
    left: 615px;
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 1425px;
    height: 254px;
    transform: rotate(-44.2deg);
    background: linear-gradient(to top right, #597bbf00 0%, #597bbf13 95%);
    top: -445px;
    left: 615px;
    z-index: 0;
  }
}


.cardServicePackages {
  position: relative;
  background: linear-gradient(
    to bottom,
    #F6FAFF 10%,
    #FFFFFF
  );
  &::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 30%;
    transform: rotate(-44.2deg);
    background: linear-gradient(to top right, #597bbf00 0%, #597bbf13 95%);
    top: 323px;
    left: 1088px;
    z-index: 0;
  }
  &::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 30%;
    transform: rotate(-44.2deg);
    background: linear-gradient(to top right, #597bbf00 0%, #597bbf13 95%);
    top: 100px;
    left: 1158px;
    z-index: 0;
  }
}

.triangle {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 90%;
    background: linear-gradient(
      to top,
      #FFFFFF99,
      #FFFFFF1A
    );
    clip-path: polygon(45% 0, 100% 100%, 0 100%);
    top: 60px;
    left: 1110px;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 90%;
    background: linear-gradient(
      to top,
      #FFFFFF99,
      #FFFFFF1A
    );
    clip-path: polygon(45% 0, 100% 100%, 0 100%);
    top: 175px;
    left: 870px;
    z-index: 1;
  }
}

.triangle2 {
  position: absolute;
  &::after {
    content: "";
    position: absolute;
    width: 890px;
    height: 500px;
    background: linear-gradient(
      to top,
      #FFFFFF00,
      #FFFFFF05,
      #FFFFFF0A
    );
    clip-path: polygon(45% 0, 100% 100%, 0 100%);
    top: -175px;
    left: 65px;
    z-index: 0;
  }
}

.triangleCompare {
  position: relative;
  &::after {
    transform: rotate(-44.2deg);
  }
  &::before {
    transform: rotate(-44.2deg);
  }
}

.cardCompare {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 10%;
    transform: rotate(-44.2deg);
    background: linear-gradient(
      to top,
      #597BBF00,
      #597BBF3D
    );
    top: 600px;
    left: -350px;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 10%;
    transform: rotate(-44.2deg);
    background: linear-gradient(
      to top right,
      #597BBF00 30%,
      #597BBF3D
    );
    top: 450px;
    left: -20px;
    z-index: 1;
  }
}

.cardSecurity {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 20%;
    transform: rotate(-44.2deg);
    background: linear-gradient(
      to top,
      #597BBF00,
      #597BBF13
    );
    top: -15px;
    left: -95px;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 20%;
    transform: rotate(-44.2deg);
    background: linear-gradient(
      to top,
      #597BBF00,
      #597BBF13
    );
    top: -130px;
    left: 110px;
    z-index: 1;
  }
}